@import 'ckeditor-tailwind-reset.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  @apply h-full;
}

body {
    @apply font-base pt-14 min-h-full flex flex-col;
}

.container {
    @apply  2xl:w-[70%] md:w-[98.5%] w-full sm:px-4 px-0 m-auto;
}

body > .container{
  @apply flex items-stretch grow shrink-0 basis-auto;
}

/* forms  */

.reset-input {
    @apply focus-visible:outline-none w-full;
}

/* backgrounds */
.bg-google {
    @apply bg-red-50 text-red-500;
}
.bg-facebook {
    @apply bg-blue-50 text-blue-500;
}

/* Buttons */
.btn{
  @apply px-4 py-1.5 sm:py-3  text-white hover:text-sky-100 text-xs border-t rounded shadow;
}

.btn-primary{
 @apply bg-sky-500 hover:bg-sky-600  border-sky-300;
}

/* Forms */
.form-control {
    @apply block rounded px-3.5 py-1.5 w-full border border-gray-200 outline-none text-sm focus:border-blue-400 focus:shadow-[0_0_0_3px_#2f72e32e];
}

/* CKEditor config */
.ck-editor__editable[role="textbox"] {
    /* editing area */
    min-height: 200px;
}

/* Select2 tailwind theme */
.select2-tw + .select2 .select2-selection{
    @apply !border-gray-200;
}

.select2-dropdown{
    @apply bg-white !border-gray-200 shadow rounded-md;
}
.select2-dropdown .select2-results__options{
    @apply flex p-2 gap-1 flex-wrap;
}
.select2-dropdown .select2-results__options li{
    @apply w-[33%] rounded;
}
.select2-dropdown .select2-results__options li.select2-results__option--highlighted{
    @apply bg-gray-100;
}

.select2-tw + .select2 .select2-selection__choice{
    @apply !border-transparent !bg-sky-100 text-sky-700;
}
.select2-tw + .select2 .select2-selection__choice button{
    @apply text-sky-700 border-sky-200;
}
.select2-tw + .select2 .select2-selection__choice span{
    @apply text-xs;
}

/* Shadow */
@layer utilities{
    .shadow-border{
        box-shadow: 0 0 0px 3px rgba(255, 255, 255, 0.13);
    }
}

/*
  Buttons
*/

/**
    Loading css
*/

.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 19px;
    transform: translate(-28px,-37px) scale(0.8);
  }
  .lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 30px;
    left: 39px;
    width: 2px;
    height: 5px;
    border-radius: 20%;
    background: #fff;
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }

  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

